@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Verdana, sans-serif;
  background-color: black;
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
  scroll-behavior: smooth;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}


.header {
  height: var(--tamanho-header);
  border-bottom: 1px solid rgb(246, 246, 244); 
  backdrop-filter: blur(10px); 
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 20px; 
}

.header a {
  text-decoration: none;
  color:white;
}

.logo-bola {
  width: 30px;
  margin-right: 10px;
  vertical-align: middle;
  filter: drop-shadow(0 0 5px #d4b62c);
}

.navbar {
  display: flex;
  align-items: center;
  gap: 25px; 
  list-style: none;
  color: white;
}

.navbar li {
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 14px;
  padding: 6px 10px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.navbar a:hover {
  color: #d4b62c;
}


.titulo {
  color: white;
  width: fit-content;
  font-weight: 500;
}

.header h1 {
  margin: 0;
}


.banner {
  min-height: 100vh;
  display: flex;
  color: white;
  background-image: url('../assets/imgs/banner.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.banner .container {
  height: 100%;
  align-items: center;
}

.banner .container p {
  width: 50%;
  margin: 0;
  padding: 0;
  font-size: 36px;
  text-align: center;
}

.banner .container span {
  font-weight: 800;
}

.banner .container {
  position: relative;
  z-index: 1;
  justify-content: flex-start; 
  align-items: center;
}

.banner-content {
  max-width: 500px;
}

.banner-content h1 {
  font-size: 100px;
  margin: 0;
  font-weight: 800;
  letter-spacing: 2px;
}

.banner-content h2 {
  font-size: 54px;
  color: #d4b62c; 
  margin: 10px 0;
  font-weight: 700;
}

.sobre {
  display: flex;
  background-color: white;
  color: white;
  padding: 60px 0;
  
}

.sobre .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.sobre-texto {
  margin-top: -90px;
  width: 60%;
  padding-top: 0px;
}

.sobre-texto h1 {
  display: flex;
  width: 100%;
  padding-top: 0%;
  font-size: 70px;
  margin-bottom: 20px;
  color: #d4b62c;
  text-align: center;
}

.sobre-texto p {
  margin-bottom: 15px;
  color: black;
  line-height: 1.6;
  font-size: 20px;
}

.sobre-img img {
  width: 350px;
  border: 5px solid #d4b62c;
  border-radius: 10px;
}

.trajetoria {
  background: linear-gradient(90deg, #0a0f1f, #0d1b2a);
  padding: 80px 0;
  color: white;
  text-align: center;
}

.titulo-trajetoria {
  margin-right: 100px;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 50px;
}

.linha {
  position: relative;
  top: 30px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #aaa;
  
}

.etapas {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  width: 80%;
  margin: 0 auto;
  padding: 0 30px;
}


.etapas::before {
  content: "";
  position: absolute;
  top: 30px; 
  left: 0;
  right: 0; 
  width: auto; 
  height: 2px;
  background-color: #aaa;
  z-index: 0;
}


.etapa {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.icone {
  position: relative;
  z-index: 2;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #0a0f1f;
  border: 2px solid #d4b62c;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.etapa h3 {
  color: #d4b62c;
  font-size: 14px;
  margin-bottom: 10px;
}

.etapa p {
  font-size: 13px;
  color: #ccc;
}

.texto {
  font-size: 25px;
  color: gray;
  display: flex;
  flex-direction: column;
}

.momentos {
  background: linear-gradient(180deg, #000000, #0a0a0a);
  padding: 80px 0;
  color: white;
}

.momentos-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.momentos-left {
  width: 55%;
}

.momentos-left h2 {
  font-size: 22px;
  margin-bottom: 30px;
  position: relative;
}

.momentos-left h2::after {
  content: "";
  width: 40px;
  height: 3px;
  background-color: #d4b62c;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.cards {
  display: flex;
  gap: 20px;
}

.card-momento {
  text-align: center;
}

.card-momento img {
  width: 180px;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #d4b62c;
}

.card-momento p {
  margin-top: 10px;
  font-size: 14px;
}

.momentos-right {
  width: 45%;
}

.momentos-right h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

.momentos-right p {
  color: #ccc;
  font-size: 15px;
  margin-bottom: 15px;
}

.destaque {
  margin-top: 20px;
  border: 2px solid #d4b62c;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.destaque p {
  color: #d4b62c;
  font-size: 18px;
  font-weight: 600;
}

.footer-clean {
  background-color: white;
  padding: 20px 0;
  border-top: 1px solid #ddd;
}

.footer-clean .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left h2 {
  margin: 0;
  color: #d4b62c; 
  font-weight: 700;
}

.footer-right p {
  margin: 0;
  color: black;
  font-weight: 500;
}

.login {
  height: var(--tamanho-login);
  background-image: url('../assets/imgs/wallpaperLogin.png');
  background-size: cover;
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 50%;
  background-color: #e5e5e5;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #d4b62c;
  flex-direction: column;
  height: fit-content;
  padding: 20px 0;
}

.card h2 {
  margin: 0;
  font-size: 30px;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 2px solid #d4b62c;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.formulario select {
  border: 2px solid #d4b62c;
  background-color: white;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #d4b62c;
  width: 120px;
  height: 30px;
  align-self: center;
  margin-top: 20px;
}

